{% extends "base.html" %}

{% block head_title %}
    {{title}}
{% endblock head_title %}

{% block contents %}
    <h1>{{heading}}</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
            {% if field.errors %}
                <span class="form-text text-danger">{{field.errors}}</span>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Simpan</button>
    </form>
{% endblock contents %}