{% extends "base.html" %}

{% block head_title %}
    {{title}}
{% endblock head_title %}


{% block contents %}
    <h1>{{heading}}</h1>

    <a class="btn btn-success my-3" href="{% url 'pulangpergi:create' %}">Tambah Data</a>

    {% include 'snippets/message.html' %}

    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Profile</th>
            <th scope="col">Nama Pelanggan</th>
            <th scope="col">Nama Pengemudi</th>
            <th scope="col">Tujuan</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for destination in allDestination %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>
                <img width="84" src="{{destination.profile.url}}" alt="destination.nameCustomer">
            </td>
            <td>{{destination.nameCustomer}}</td>
            <td>{{destination.nameDriver}}</td>
            <td>{{destination.destination}}</td>
            <td>
                <a class="btn btn-danger text-black" href="{% url 'pulangpergi:delete' destination.slug %}"><i class="bi bi-trash"></i></a>
                <a class="btn btn-warning text-black" href="{% url 'pulangpergi:update' destination.slug %}"><i class="bi bi-pencil"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock contents %}