<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>

    <ul>
        <li><a href="{% url "index" %}">Beranda</a></li>
    </ul>

    <h1>Halaman {{title}}</h1>

    {% if messages %}
        {% for pesan in messages %}
            <p>{{pesan}}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username"><br><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br><br>
        <button type="submit">Login</button>
    </form>

    <p>
        <a href="{% url "password_reset" %}">Lupa Password ?</a>
    </p>

    <h3>Guys, lu sekarang login sebagai: {{user}}</h3>
</body>
</html>